# --------------------
# Schemes XSD
# --------------------
schemes

# --------------------
# Free Pascal / Delphi Files
# --------------------
*.dbg
*.ppu
*.lps
*.compiled
*.bak*
*.zip
*.res
*.dcu
*.identcache
*.rst
__history

# --------------------
# OSX Files
# --------------------
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# --------------------
# IntelliJ Files
# --------------------
*.ipr
*.iws
.idea/

# CLion
cmake-build-debug

# --------------------
# Node Files
# --------------------
.nodemonignore
npm-debug.log
node_modules/

# --------------------
# SASS Files
# --------------------
.sass-cache/

# --------------------
# Bower Files
# --------------------
.bower-*/
bower_components

# --------------------
# vim Files
# --------------------
*.swp
/__recovery/

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
pitangus

# Debug files
*.dSYM/
*.su

# GTK Resources
resources.c

# autoconf
*.in
.libs
m4
configure
Makefile
compile
libtool
.deps
depcomp
missing
stamp-h1
aclocal.m4
config.guess
config.h
*.log
ltmain.sh
config.lt
install.sh
config.sub
install-sh
config.status
autom4te.cache
